In [9]:
import pandas
df1=pandas.read_csv("D:\Python_Projects\pandas\supermarkets.csv")
df1.set_index("Address")

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [11]:
df1.loc[:,"ID"]

0    1
1    2
2    3
3    4
4    5
5    6
Name: ID, dtype: int64

In [23]:
df1.iloc[2:4,2]

2    San Francisco
3    San Francisco
Name: City, dtype: object

In [26]:
df1.ix[[1,3],"ID"]

c:\users\force\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

1    2
3    4
Name: ID, dtype: int64